
# Core dependencies for Streamlit
streamlit==1.19.0

# Essential ML Libraries
numpy>=1.24.0
pandas==1.5.0
scikit-learn==1.0.2
scipy==1.7.3
joblib==1.4.2

# To handle HTTP requests (fetching movie posters)
requests==2.32.3

# For secure API key management (dotenv to load from .env file)
python-dotenv==1.0.0
